 body {
        font-family: 'Inter', sans-serif;
        margin: 10px;
        background: #ffffff;
        color: #333;
      }
      header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
      }
      header img {
        height: 100px;
      }
      nav {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
      }
      nav button {
        padding: 8px 16px;
        border: none;
        background: #e0e0e0;
        border-radius: 5px;
        cursor: pointer;
      }
      nav button:hover {
        background: #d1d1d1;
      }
      .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        padding: 20px;
      }
      .sidebar {
        background: #fff;
        border-radius: 12px;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      }
      .main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
      }
      .box {
        background: #fff;
        border-radius: 12px;
        padding: 10px 10px  10px 10px;
        margin-top: 10px;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
      }
      footer {
        text-align: center;
        padding: 15px;
        background: #eeeeee;
        margin-top: 10px;
        font-size: 14px;
        color: #555;
      }
      a {
        color: #c00;
        text-decoration: none;
      }
      @media (max-width: 768px) {
        .container {
          grid-template-columns: 1fr;
        }
        .main {
          grid-template-rows: auto;
        }
      }
     .op-logico   { color: #d73a49; font-weight: bold; }   /* vermelho */
      .op-simbolo  { color: #d73a49; }
      .numero      { color: #005f5f; }
      .string      { color: #032f62; }
      .parenteses  { color: #cc880a; font-weight: bold; }
